<%- include('common/header'); -%>

<table>
   <% for(var i=0; i< users.length; i++) { %> 
    <tr>
      <th><%= users[i]._id %></th>
      <th><%= users[i]._id %></th>
      <th><%= users[i].product_name %></th>
      <th><%= users[i].category_id.category_name %></th>
    </tr>
  <% } %>
    
  
  </table>

  <div style="margin: 20px 0">
    <% if(totalPages > 1) { %>
      <% for(let i = 1; i <= totalPages; i++) { %>
        <a href="/users/<%= i %>"><%= i %></a>
      <% } %>   
    <% } %>
    </div>

<%- include('common/footer'); -%>